{% extends "base.html" %}

{% block heading %}
    Home
{% endblock heading %}

{% block middle %}
    <form action="." method="POST">
        <table>
            {% csrf_token %}
            {{ form.as_table }}
            <tr>
                <td><input type="submit" value="Submit"/></td>
                <td><input type="reset" value="Clear"/></td>
            </tr>
        </table>
    </form>
{% endblock middle %}

{% block bottom %}
    {% if user_authentication == False %}
        <script>
            window.alert("The username password doesn't match")
        </script>
    {% endif %}
{% endblock bottom %}